* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 166px;
}

header {
    background-image: url("../images/bg.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phoneContainer {
    color: white;
    margin-left: 2%;
    font-size: 150%;
}

.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonContainer {
    margin-left: 3%;
}

.button {
    background-color: #FF7400;
    border: none;
    color: white;
    padding: 14px 20px;
    font-weight: bold;
}

.cartContainer {
    position: relative;
    border-right: 1px solid white;
    padding-right: 10px;
    height: 50px;
    margin-left: 3%;
}

.cartImg {
    position: absolute;
    top: 15px;
    right: 25px;
    size: 125%;
}

nav {
    margin-left: 25%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.number {
    font-weight: bold;
}

.welcomeContainer {
    color: white;
    padding-left: 3%;
    padding-top: 25%;
    width: 30%;
    text-align: center;
}

.welcomeContainer button {
    margin-top: 5%;
}

.welcomeContainer p {
    margin-top: 3%;
    font-size: 150%;
}

.welcomeContainer h2 {
    font-size: 250%;
    color: #D67E35;
}

.welcomeContainer h1 {
    font-size: 500%;
    color: #D67E35;
}

.lines:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: white;
    left: 375px;
    top: 845px;
}

.lines:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 61px;
    background-color: white;
    left: 700px;
    top: 845px;
}

.welcomeContainer2 {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.welcomeContainer2 div {
    background-color: white;
    width: 349px;
    height: 328px;
    margin-top: -149px;
    margin-right: 31px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    padding: 0px 10px;
}

.welcomeContainer2 .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

.welcomeContainer2 .desc {
    color: #656363;
    text-align: center;
    font-size: 26px;
}

.welcomeContainer2 .img {
    display: flex;
    justify-self: center;
    padding-top: 31px;
}

.highlight {
    color: #D67E35
}

.mainContainer {
    margin-top: 15%;
    margin-left: 25%;
}

.mainContainer .title {
    font-size: 54px;
    margin-left: 3%;
}

.mainContainer .history_text {
    width: 444px;
    height: 217px;
    text-align: center;
    color: #656363;
    margin-top: 1%;
}

.stats_container {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
}

.stats_container .stats {
    margin-right: 3%;
}

.mainContainer .stats .num {
    color: #BC9060;
    text-align: center;
    font-size: 40px;
}

.mainContainer .stats .stat_name {
    font-size: 20px;
    text-align: center;
}

.history {
    width: 100%;
}

.mainContainer .history_images {
    position: relative;
    margin-left: 35%;
    margin-top: -15%;
}

.history_images .img_1 {
    position: absolute;
    z-index: 999;
    height: 300px;
    width: 233px;
    box-shadow: 20px 0px 30px 3px #00000080;
}

.history_images .img_2 {
    position: absolute;
    z-index: 1;
    margin-left: 15%;
    margin-top: -5%;
    width: 255px;
    height: 430px;
}

.history_images .img_3 {
    position: absolute;
    z-index: 2;
    margin-left: 27%;
    margin-top: 15%;
    height: 300px;
    width: 233px;
}

.history_images .img_4 {
    position: absolute;
    z-index: 0;
    margin-left: 25%;
    margin-top: -3%;
    height: 300px;
    width: 233px;
}

.burgerMenu {
    display: none;
}

@media (max-width: 2555px) {
    .lines:after {
        content: none;
    }
    .lines:before {
        content: none;
    }
}


@media (max-width: 1300px) {
    
    .mainContainer .history_images {
        margin-left: 0%;
        margin-top: 10%;
    }

    .history .title,
    .history .history_text,
    .history .stats_container .stats {
        width: auto;
    }
}

@media (max-width: 1845px) {

    .burgerMenu {
        display: block;
    }

    .headerContainer {
        justify-content: space-between;
    }

    .headerContainer nav {
        display: none;
    }

    .cartContainer {
        display: none;
    }

    .phoneContainer {
        display: none;
    }

    .buttonContainer {
        display: none;
    }
}

@media (max-width: 1340px) {
    .welcomeContainer {
        position: static;
        width: 100%;
    }

    .welcomeContainer2 {
        flex-direction: column;
    }

    .welcomeContainer2 div {
        margin-top: 5%;
        width: 100%;
    }

    .welcomeContainer p {
        font-size: 450%;
    }
    
    .welcomeContainer h2 {
        font-size: 550%;
    }
    
    .welcomeContainer h1 {
        font-size: 800%;
    }
}

.mainContainer { 
    color: blue; 
} 
@media (max-width: 550px) { 
    .mainContainer { 
        color:red; 
    } 
}